* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0vh;
  right: -30vh;
  width: 65%;
  height: 65%;
}

.loader {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0vh;
  left: 0vh;
  pointer-events: none;
  background: black;
  svg {
    width: 40%;
    animation: loader-svg 1s ease;
  }
  h1 {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    overflow: hidden;
    display: flex;
    .droid {
      transform: translateY(100px);
    }
    .ng {
      transform: translateY(100px);
      color: #e7514b;
    }
  }
}

@keyframes loader-svg {
  from {
    stroke-dasharray: 300px;
  }
  to {
    stroke-dasharray: 3046px;
  }
}

.hamburger {
  width: 3vw;
  height: 3vw;
  background: #e7514b;
  position: fixed;
  top: 3vw;
  right: 5vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  cursor: pointer;
  .line1,
  .line2,
  .line3 {
    width: 60%;
    height: 0.1vw;
    background-color: white;
  }
  .line2 {
    margin: 0.4vw 0px;
  }
}

.nav-overlay {
  display: flex;
  padding: 5vw 0vw;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: rgb(225, 225, 225);
  position: fixed;
  top: 0vh;
  z-index: 3;
  clip-path: polygon(100% 0, 100% 0%, 100% 0, 100% 0);
  opacity: 0;
  transition: all 500ms ease-in-out;
  .overlay-badge {
    position: absolute;
    top: 0vh;
    right: 0vh;
    height: 100%;
    width: 13%;
    background: #e7514b;
  }
  .overlay-left,
  .overlay-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay-left {
    flex-direction: column;
    img {
      width: 30%;
    }
    .overlay-about {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 4vw 0vw;
    }
    .overlay-buttons {
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        text-decoration: none;
      }
      button {
        .space {
          margin: 0vh 0.3vw;
        }
        padding: 0.7vw 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #e7514b;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        color: white;
        &:nth-child(2) {
          margin: 0vw 2vw;
        }
      }
    }
    .overlay-maintainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      font-weight: bold;
      button {
        padding: 0.6rem 2vw;
        background: #e7514b;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        color: white;
      }
    }
  }
  .overlay-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    li a {
      text-decoration: none;
      color: rgb(46, 46, 46);
      font-size: 1.3rem;
    }
    li {
      margin: 2vw 0vh !important;
      position: relative;
      overflow: hidden;
      font-weight: bold;
      &::after {
        content: "";
        background: #e7514b;
        position: absolute;
        bottom: 0vh;
        left: 0vh;
        width: 100%;
        height: 3px;
        transform: translateX(-100%);
        transform-origin: right;
        transition: all 0.3s ease;
      }
      &:hover {
        &::after {
          transform: translateX(0px);
        }
      }
    }
  }
}

.nav-active {
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  opacity: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  margin: 2rem 0rem;
  .text,
  .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    color: #333333;
    flex-direction: column;
    align-items: flex-start;
    .colored {
      color: #e7514b;
    }
    h1 {
      font-size: 5rem;
      font-weight: bolder;
    }
    p {
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
  .img {
    img {
      width: 60%;
    }
  }
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .features-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    flex-wrap: wrap;
    li {
      width: 20%;
      text-align: center;
      position: relative;
      overflow: hidden;
      color: #333333;
      font-weight: bolder;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #333333;
        font-weight: lighter;
      }
      &::after {
        content: "";
        background: #e7514b;
        position: absolute;
        bottom: 0vh;
        left: 0vh;
        width: 100%;
        height: 3px;
        transform: translateX(-100%);
        transform-origin: right;
        transition: all 0.3s ease;
      }
      &:hover {
        &::after {
          transform: translateX(0px);
        }
      }
    }
  }
  .features-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    .features-text,
    .features-img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0rem 2rem;
    }
    .features-text {
      color: #333333;
      flex-direction: column;
      align-items: flex-start;
      margin: 1rem 0rem;
      .colored {
        color: #e7514b;
      }
      h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
        font-weight: bolder;
        transition: all 0.4s ease;
      }
      h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        transition: all 0.4s ease;
        font-weight: lighter;
      }
    }
    .features-img {
      img {
        width: 40%;
        transition: all 0.4s ease;
        align-self: flex-end;
      }
    }
  }
}

.team {
  padding: 3vw 0vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .wrapper {
    overflow: hidden;
    margin: 0vh 3vh;
    h1 {
      padding: 0rem 2rem;
      color: #333333;
      font-size: 3rem;
      font-weight: bolder;
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .card {
      min-width: 30vw;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      border-radius: 0.5vw;
      margin: 3vw 1vw;
      .card-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0vw 1.5vw;
      }
      .card-text {
        width: 70%;
        color: #333333 !important;
      }
    }
  }
}

footer {
  padding: 1.5rem 0rem;
  width: 100%;
  background: #e7514b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    .footer-links {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      justify-content: space-around;
      min-height: 20vh;
      font-size: 1.5rem;
      list-style: none;
      flex-direction: column;
    }
    .footer-redirects {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      justify-content: space-around;
      min-height: 20vh;
      font-size: 1.5rem;
      list-style: none;
      flex-direction: column;
    }
  }
}

@media only screen and(max-width: 1080px) {
  .nav-overlay {
    padding: 2rem;
    height: auto;
    .overlay-left {
      .overlay-about {
        h1 {
          font-size: 2.3rem;
        }
        .overlay-buttons {
          a {
            padding: 0.6rem 0.5rem;
          }
        }
      }
      .overlay-maintainer {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
  .hamburger {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .bg {
    width: 30%;
    top: -25vh;
    right: 0vh;
  }
  .home {
    .text {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
  }
  .features {
    .features-content {
      .features-text {
        padding: 0rem;
        h1 {
          font-size: 3rem;
        }
        h3 {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }
    }
  }
  .team {
    .wrapper {
      margin: 0;
    }
  }
  footer {
    .footer-content {
      .footer-links,
      .footer-redirects {
        min-height: 10vh;
      }
    }
  }
}

@media only screen and(max-width: 700px) {
  .loader {
    svg {
      width: 85%;
    }
    h1 {
      font-size: 3rem;
    }
  }
  .hamburger {
    width: 40px;
    height: 40px;
    .line2 {
      margin: 1.2vw 0vw;
    }
  }
  .nav-overlay {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .overlay-badge {
      display: none;
    }
    .overlay-left {
      padding: 1rem 0rem;
      width: 90%;
      height: auto;
      img {
        width: 40% !important;
      }
      .overlay-about {
        margin: 1vh 0vh !important;
        h1 {
          font-size: 2rem;
        }
        .overlay-buttons {
          width: 50vw;
        }
        button {
          display: grid;
          place-items: center;
          place-content: center;
          #btn-text {
            display: none;
          }
          padding: 0rem 0rem !important;
          width: 35px;
          height: 35px;
          border-radius: 50% !important;
        }
      }
      .overlay-maintainer {
        width: 100%;
        margin: 1vh 0vh;
        h1 {
          line-height: 2rem;
          font-size: 1.1rem;
        }
        button {
          padding: 0.5rem 1.5rem;
        }
      }
    }
    .overlay-right {
      height: 60%;
      .overlay-nav {
        padding-left: 0px;
        min-height: 35vh;
      }
    }
  }
  .bg {
    display: none;
  }
  .home {
    flex-direction: column;
    padding: 2vh 0vh;
    margin: 4vh 0vh;
    .text,
    .img {
      width: 90%;
    }
    .text {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
  .features {
    .features-list {
      padding: 0;
      width: 90%;
      li {
        width: 33%;
        font-size: 1rem;
        line-height: 3rem;
        font-weight: lighter;
        transition: all 0.4s ease;
        &::after {
          transform: translateX(0px);
        }
        &:hover {
          font-weight: bolder;
        }
      }
    }
    .features-content {
      flex-direction: column;
      .features-text,
      .features-img {
        width: 90%;
      }
      .features-text {
        padding: 0rem 0rem;
        .features-head {
          font-size: 2.5rem;
          margin: 0rem;
        }
        .features-para {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
  }
  .team {
    .wrapper {
      width: 100%;
      h1 {
        font-size: 2.4rem;
        padding: 0rem 1rem;
      }
    }
    .container .card {
      border-radius: 0.5rem;
      width: 90%;
      .card-text {
        h1 {
          font-size: 1.5rem !important;
        }
        h3 {
          font-size: 0.8rem !important;
        }
      }
      .card-text .buttons .btn a i {
        font-size: 1.2rem !important;
      }
    }
  }
  footer {
    padding: 1.5rem 1rem;
    h1 {
      font-size: 2.3rem;
    }
    .footer-content {
      justify-content: flex-start;
      .footer-links,
      .footer-redirects {
        font-size: 1rem;
        i {
          font-size: 4vw !important;
        }
      }
    }
  }
}

a .nohytext {
  color: inherit;
  text-decoration: inherit;
}
